

    <%# <div class = 'main'> %>
        <h1>Cohorts</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Dates</th>
      <th scope="col">Cohort</th>
      <th scope="col">Instructor</th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
       
    </tr>
  </thead>

<% @all_cohorts.each do |cohort| %>
<tbody>
        <tr id = "cohort-<%=cohort.id%>">
        <td><%= cohort.name %></td>
        <td><%= cohort.start_date.strftime("%B %d, %Y") %> - <%= cohort.end_date.strftime("%B %d, %Y") %> </td>
        <td> <%= cohort.course.name%> </td>
        <td><%= cohort.instructor.fname %> <%= cohort.instructor.lname %> </td>
        <td> <%= link_to 'View' , cohort_path(cohort) %></td>
        <td><%= link_to 'Edit' , edit_cohort_path(cohort)%> </td>
        <td> <%= link_to 'Delete', cohort_path(cohort), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> </td>
        </tr>


<% end%>
 </tbody>
</table>
        <%= link_to 'Add Cohort' , new_cohort_path(@cohort), class: "btn btn-light" %>


