<h1>Cohorts</h1>


<% @all_cohorts.each do |cohort|%>
<h3><%= cohort.name %></h3>
<p>Duration: <%= cohort.start_date.strftime("%B %d, %Y") %> - <%= cohort.end_date.strftime("%B %d, %Y") %> </p>
<%= cohort.course.name %>
<p>Instructor :<%= cohort.instructor.fname %> <%= cohort.instructor.lname %> </p>
<br>

<% end%>


