<div class ='form-wrapper'>
<div class = 'main'>

<h1>Add Cohort </h1>

<%= form_with model: @cohort do |form| %>
   
     <div class="form-group">
          <%= form.text_field :name , placeholder: 'Enter cohort name'%>
      </div>

     <div class="form-group">
        <%= form.date_field :start_date , placeholder: 'Enter start date'%>
        </div>

      <div class="form-group">
        <%= form.date_field :end_date , placeholder: 'Enter end date' %>
      </div>
      
     <div class="form-group">
      <% form.label :course_id %> Course 
            <%= form.select :course_id, (@courses_info) %>
      </div>

     <div class="form-group">
           <% form.label :instructor_id %> Instructor 
            <%= form.select :instructor_id, (@instructors_info) %>
      </div>

     <div class="form-group">
        <%= form.submit class: "btn btn-light" %>
      </div>
 
 </div>
</div>
<% end %>


