<h1> Add Cohort </h1>

<%= form_with model: @cohort do |form| %>
  <%= form.text_field :name , placeholder: 'Enter cohort name'%>
  <%= form.date_field :start_date , placeholder: 'Enter start date'%>
<%= form.date_field :end_date , placeholder: 'Enter end date' %>
<%= form.text_field :course_id , placeholder: 'Enter course ID' %>
<%= form.text_field :instructor_id , placeholder: 'Enter instructor ID' %>
  <%= form.submit %>
<% end %>


