<%# <div class ='main'> %>
   <div class ='page-header'>
    <h1>Instructors</h1>
     <%# <img src = '/assets/chef4.png'> %>
  </div>

      <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <%# <th scope="col">Edit</th> %>
          <%# <th scope="col">Delete</th> %>

        </tr>
      </thead>

    <% @all_instructors.each_with_index do |instructor, index|%>
        <tbody>
            <tr id="instructor-<%=instructor.id%>">
              <th scope="row"><%= index + 1 %> </th>
              <td> <%= instructor.fname %> </td>
              <td> <%= instructor.lname %> </td>
              <td> <%= instructor.email %> </td>
              
             <td> <%= link_to 'Edit ' , edit_instructor_path(instructor)%></td>
             <td> <%= link_to 'Delete ' , instructor_path(instructor), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
           
            </tr>
    <% end %>
      </tbody>
    </table>
            <%= link_to 'Add Instructor' , new_instructor_path(@instructor), class: "btn btn-light"%>

  <%# </div> %>
</div>



 <%# <% instructor.cohorts.each do |cohort| %>  
                <%# <td> <%= cohort.name %> 
              <%# <% end %> 

<%# <% instructor.cohorts.each do | cohort | %>
          <%# <td><%= cohort.name %>

<%# Course.find(Instructor.find(instructor.id).cohort.course_id).name %>

<%# Course.find(Instructor.find(1).cohorts[0].course_id).name%>


<%# Course.find(Instructor.find(instructor.id).cohorts[0].course_id).name%>


<%# <% cohort = Cohort.find(instructor.id).course_id %> 
          <%# <td><%= Course.find(cohort).name%> 