<h1> Add Instructor </h1>

<%= form_with model: @student do |form| %>
  <%= form.text_field :fname , placeholder: 'Enter first name'%>
    <%= form.text_field :lname , placeholder: 'Enter last name'%>
      <%= form.text_field :email , placeholder: 'Enter school email'%>
        <%= form.text_field :password , placeholder: 'Enter password'%>
          <%= form.text_field :age , placeholder: 'Enter age'%>
          <%= form.text_field :salary , placeholder: 'Enter salary'%>
            <%= form.text_field :highest_edu , placeholder: 'Enter highest education'%>
            <%= form.hidden_field :is_admin , value: false %>
  <%= form.submit %>
<% end %>