<!DOCTYPE html>
<html>
  <head>
    <title>Le Cordon Noir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Side navigation -->
<div class="sidenav">
  <a href="/students">Students</a>
  <a href="/courses">Courses</a>
  <a href="/instructors">Instructors</a>
 
</div>

<!-- Page content -->
<div class="main">
          <div>  <%= link_to 'Sign out' , destroy_user_session_path, method: :delete %> </div>

</div>
   
    <%= render 'layouts/alerts' %>
    <%# needed for flash messages using devise, easier to create seperate file for styling of alerts%>
    <%= yield %>
  </body>
</html>
