<!DOCTYPE html>
<html>
  <head>
    <title>Le Cordon Noir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Side navigation -->
<div class="sidenav">
  <a href = "/dashboard">Home</a>
  <a href="/courses">Courses</a>
  <a href="/cohorts">Cohorts</a>
  <a href="/instructors">Instructors</a>
  <a href="/students">Students</a>
  <%= link_to 'Sign out' , destroy_user_session_path, method: :delete %> 
</div>


<!-- Page content -->

    
  <%# needed for flash messages using devise, easier to create seperate file for styling of alerts%>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  
  
  
  </body>
</html>
