<!DOCTYPE html>
<html>
  <head>
    <title>Le Cordon Noir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <%= render 'layouts/alerts' %>
    <%# needed for flash messages using devise, easier to create seperate file for styling of alerts%>

    <%= yield %>
  </body>
</html>
